<div class="wrapper bg-white p-4">
<div class="text-center">
  <%= image_tag "logoahlashop.png", alt: "Logo", class: "img-fluid logo-small" %>
</div>

    <div class="h5 text-center pt-2">Login to your account</div>
    
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}, html: {class: "pt-3"}) do |f| %>
        <div class="form-group py-2">
            <div class="input-field d-flex align-items-center"> 
                <span class="far fa-user p-2"></span> 
                <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email", placeholder: "Username", class: "border-0" }, label: false %>
            </div>
        </div>
        
        <div class="form-group py-1 pb-2">
            <div class="input-field d-flex align-items-center"> 
                <span class="fas fa-lock p-2"></span> 
                <%= f.input :password, required: false, input_html: { autocomplete: "current-password", placeholder: "Password", class: "border-0" }, label: false %>
                <button type="button" class="btn  border-0"> 
                    <span class="far fa-eye-slash text-black"></span> 
                </button>
            </div>
        </div>
        
      
        
        <%= f.button :submit, "LOGIN ⮕", class: "btn btn-block text-center my-3 text-white btn-login fw-bold " %><span class="far fa-arrow p-2"></span> 
        <% end %>
    
   
</div>
